In [1]:
import pandas as pd
paris_listings = pd.read_csv('..\data\paris_airbnb.csv')
paris_listings.iloc[0]

C:\Users\user\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                 1.0
latitude                       48.83349
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                            0.0
bathrooms                           1.0
beds                                0.0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

In [2]:
paris_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0

In [3]:
paris_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    5000 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   7999 non-null   float64
 3   latitude              8000 non-null   float64
 4   longitude             8000 non-null   float64
 5   city                  7997 non-null   object
 6   zipcode               7930 non-null   object
 7   state                 7977 non-null   object
 8   accommodates          8000 non-null   int64
 9   room_type             8000 non-null   object
 10  bedrooms              7976 non-null   float64
 11  bathrooms             7942 non-null   float64
 12  beds                  7986 non-null   float64
 13  price                 8000 non-null   object
 14  cleaning_fee          6250 non-null   object
 15  security_deposit      6320 non-null   object
 16  minimum_nights        8000 non-null   int64
 17  maximum_nights        8000 non-null   int64
 18  number_of_reviews     8000 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB

In [4]:
paris_listings.iloc[0]['accommodates']

2

In [4]:
import numpy as np
our_acc_value=3
first_giving_space_value = paris_listings.iloc[0]['accommodates']

first_distance = np.abs(our_acc_value-first_giving_space_value)
print(first_distance)

1

In [5]:
## caclul de la distance euclidienne pour plusieurs donné

In [6]:
new_listings=3
paris_listings['distance'] = paris_listings['accommodates'].apply(
lambda x: np.abs(new_listings-x))
print(paris_listings['distance'].value_counts())

distance
1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: count, dtype: int64

In [7]:
# randomisation:
#   np.random.seed: enregistrer la valeur du random
#   np.random.permutation : créer un random de matrice aléatoire

np.random.seed(1)
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]
paris_listings

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,distance
4740,NaN,NaN,1.0,48.88285,2.33852,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$65.00,$30.00,$200.00,2,1125,6,1
5606,NaN,NaN,1.0,48.86006,2.34768,Paris,75001,Île-de-France,3,Entire home/apt,2.0,1.5,2.0,$98.00,NaN,NaN,5,1124,1,0
4824,100%,NaN,3.0,48.88794,2.34532,Paris,75018,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$65.00,$30.00,"$1,000.00",10,1125,0,1
4205,60%,NaN,1.0,48.88868,2.34111,Paris,75018,Île-de-France,2,Private room,1.0,1.0,1.0,$45.00,$30.00,$200.00,5,1125,83,1
3228,90%,NaN,1.0,48.88686,2.33670,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,$65.00,NaN,$200.00,5,365,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7935,NaN,NaN,1.0,48.84012,2.39003,Paris,75012,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$72.00,$0.00,$400.00,7,7,0,1
5192,NaN,NaN,1.0,48.87754,2.35318,Paris,75010,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$49.00,$50.00,NaN,30,1125,2,1
3980,NaN,NaN,1.0,48.84617,2.37121,Paris,75012,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$99.00,$20.00,$100.00,2,1125,2,1
235,65%,NaN,93.0,48.85522,2.36382,Paris,75004,Île-de-France,6,Entire home/apt,2.0,1.0,4.0,$230.00,$90.00,$900.00,2,25,98,3
5157,NaN,NaN,1.0,48.87768,2.32836,Paris,75009,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$100.00,$400.00,NaN,3,20,0,1

In [8]:
paris_listings = paris_listings.sort_values('distance')

In [9]:
paris_listings['price'].head(10)

1956     $80.00
3735     $67.00
6944     $36.00
2094    $120.00
2968     $60.00
845     $200.00
6083     $95.00
5970     $95.00
2992     $76.00
3179    $100.00
Name: price, dtype: object

In [10]:
# supprimer les virgules et les signes $ de price
paris_listings['price']=paris_listings['price'].str.replace('$','')
paris_listings['price']=paris_listings['price'].str.replace(',' , '')

paris_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,distance
1956,100%,NaN,2.0,48.87572,2.35423,Paris,75010,Île-de-France,3,Entire home/apt,1.0,1.0,3.0,80.00,$25.00,$100.00,2,120,60,0
3735,100%,NaN,17.0,48.86764,2.35174,Paris,75002,Île-de-France,3,Private room,2.0,1.0,1.0,67.00,$30.00,$200.00,4,180,95,0
6944,100%,NaN,1.0,48.88709,2.33930,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,1.0,36.00,$50.00,$350.00,5,60,53,0
2094,100%,NaN,1.0,48.89043,2.33222,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,1.0,120.00,$50.00,$300.00,6,90,93,0
2968,NaN,NaN,1.0,48.88328,2.34467,Paris,75018,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,60.00,NaN,$400.00,6,20,0,0

In [11]:
paris_listings['price']=paris_listings['price'].astype('float')
mean= paris_listings.iloc[0:5]['price'].mean()
mean

72.6